<h2 class="pg-hd">Account Details</h2>
<div class="lft-bx">
    <ul class="lft-lst">
        <li class="completed">
            <a href="#">Personal Profile <span><i class="fa fa-check-circle-o"></i></span> <span class="clr"></span></a>
        </li>
        <li>
            <a href="#">Qualification <span><i class="fa fa-check-circle-o"></i></span> <span class="clr"></span></a>
        </li>
        <li class="completed">
            <a href="#">Experience <span><i class="fa fa-check-circle-o"></i></span> <span class="clr"></span></a>
        </li>
        <li>
            <a href="#">Other <span><i class="fa fa-check-circle-o"></i></span> <span class="clr"></span></a>
        </li>
    </ul>
</div>