<div *ngIf="favorites.length > 0">
    <h2 class="pg-hd">My Favorites</h2>
    <div class="lft-bx">
        <div class="list-group" *ngFor="let favorite of favorites, let i = index">
            <div class="list-group-item">
                <div class="row-picture">
                    <img class="circle" src="app/assets/images/lft-logo1.png" alt="icon">
                </div>
                <div class="row-content">
                    <p class="list-group-item-text">
                        <a>{{favorite}}</a>
                    </p>
                </div>
            </div>
            <div class="list-group-separator" *ngIf="i != favorites.length-1"></div>
        </div>
    </div>
</div>