<div class="col-md-8 col-sm-8 user-rt">
            	<div class="midcol">
                	<h2 class="pg-hd fl">Jobs Posted</h2>
                    <div class="userpg-drop post-job fr">
                    	 <a [routerLink]="['/employerhome/postjob']" class="btn btn-raised btn-primary">Post Job</a>
                    </div>
                    <div class="clr"></div>
                    <div class="page-separator"></div>  
                    
                    <div class="jobpost-lst">
                    	<div class="list-group">
                      
                      <div class="jobpost-lst-cnt">
                      <div class="list-group-item">
                        <div class="row-picture">
                          <div class="company-job-info">J</div>
                        </div>
                        <div class="row-content">
                          <h4 class="list-group-item-heading fl"><a href="#">Programmer Analyst - JAVA or JAVA Developer</a></h4>
                          <div class="fr jobpost-time"><i class="fa fa-clock-o"></i> &nbsp;2 hours ago</div>
                    		<div class="clr"></div>
                            <div class="jobpost-detail">
                            	<div class="jobpost-detail-blk"><span>Position :</span> Developer</div>
                                <div class="jobpost-detail-blk txtctr"><span>Experience :</span> 4+ Year</div>
                                <div class="jobpost-detail-blk txtrht"><span>Referral Price :</span> $75</div>
                                <div class="clr"></div>
                            </div>
                          <div class="jobpost-desc">
                          	<h3>Skill Requirements</h3>
                            <ul>
                            <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                            <li>Work on research and development of latest SharePoint tools and technologies.</li>
                            <li>Should have knowledge in architecture and design of SharePoint implementations using best practices. <a href="#" class="moredetails-link">More Details</a></li>
                            </ul>
                            
                            <div class="jobpost-btn">
                            	<div class="jobpost-l wautofnone">
                                	<a href="javascript:void(0)" id="" class="btn btn-raised btn-primary btn-red"><span class="btn-ico"><i class="fa fa-trash"></i></span>Delete</a><a href="javascript:void(0)" id="" class="btn btn-raised btn-primary btn-yellow mobile-hide"><span class="btn-ico"><i class="fa fa-square"></i></span>Hold</a><a href="javascript:void(0)" id="" class="btn btn-raised btn-primary btn-blue refferal"><span class="btn-ico"><i class="fa fa-dollar"></i></span>Referral (12)</a>
                                </div>
                                <div class="clr"></div>
                            </div>
                          </div>
                        </div>
                      </div>
	
    					<div class="frd-cnt" style="display: none;">
                        <div class="rlatv"><a href="javascript:;" class="open-refer-frd close-ico close-frnd-list refferal"><i class="fa fa-times-circle"></i></a></div>
                    	<div class="frd-lst">
                    		<ul>
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img1.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                            
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img2.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                          	
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img3.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                            
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img4.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                          	
                             </ul>
                            <div class="clr"></div>
                    	</div>
                    </div>
                       </div>
                      <div class="list-group-separator"></div>
                      <div class="jobpost-lst-cnt">
                      <div class="list-group-item">
                        <div class="row-picture">
                          <div class="company-job-info">A</div>
                        </div>
                        <div class="row-content">
                          <h4 class="list-group-item-heading fl"><a href="#">Senior Programmer Analyst</a></h4>
                          <div class="fr jobpost-time"><i class="fa fa-clock-o"></i> &nbsp;2 hours ago</div>
                    		<div class="clr"></div>
                            <div class="jobpost-detail">
                            	<div class="jobpost-detail-blk"><span>Position :</span> Sr. Analyst</div>
                                <div class="jobpost-detail-blk txtctr"><span>Experience :</span> 4+ Year</div>
                                <div class="jobpost-detail-blk txtrht"><span>Referral Price :</span> $100</div>
                                <div class="clr"></div>
                            </div>
                          <div class="jobpost-desc">
                          	<h3>Skill Requirements</h3>
                            <ul>
                            <li>Expertise in LAMP and ROR Environment.</li>
                            <li>Agile and waterfall life cycles.</li>
                            <li>MY SQL, PostgreSQL, SQL Server. <a href="#" class="moredetails-link">More Details</a></li>
                            </ul>
                            
                            <div class="jobpost-btn">
                            	<div class="jobpost-l wautofnone">
                                	<a href="javascript:void(0)" id="" class="btn btn-raised btn-primary btn-red"><span class="btn-ico"><i class="fa fa-trash"></i></span>Delete</a><a href="javascript:void(0)" id="" class="btn btn-raised btn-primary btn-yellow mobile-hide"><span class="btn-ico"><i class="fa fa-square"></i></span>Hold</a><a href="javascript:void(0)" id="" class="btn btn-raised btn-primary btn-blue refferal"><span class="btn-ico"><i class="fa fa-dollar"></i></span>Referral (12)</a>
                                </div>
                                <div class="clr"></div>
                            </div>
                          </div>
                        </div>
                      </div>
						
                        
                        <div class="frd-cnt" style="display: none;">
                        <div class="rlatv"><a href="javascript:;" class="open-refer-frd close-ico close-frnd-list refferal"><i class="fa fa-times-circle"></i></a></div>
                    	<div class="frd-lst">
                    		<ul>
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img1.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                            
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img2.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                          	
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img3.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                            
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img4.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                          	
                             </ul>
                            <div class="clr"></div>
                    	</div>
                    </div>
                       </div>

                      <div class="list-group-separator"></div>
                      <div class="jobpost-lst-cnt">
                      <div class="list-group-item">
                        <div class="row-picture">
                          <div class="company-job-info">S</div>
                        </div>
                        <div class="row-content">
                          <h4 class="list-group-item-heading fl"><a href="#">Sales Co Ordinator</a></h4>
                          <div class="fr jobpost-time"><i class="fa fa-clock-o"></i> &nbsp;2 hours ago</div>
                    		<div class="clr"></div>
                            <div class="jobpost-detail">
                            	<div class="jobpost-detail-blk"><span>Position :</span> Sales Executive</div>
                                <div class="jobpost-detail-blk txtctr"><span>Experience :</span> 4+ Year</div>
                                <div class="jobpost-detail-blk txtrht"><span>Referral Price :</span> $150</div>
                                <div class="clr"></div>
                            </div>
                          <div class="jobpost-desc">
                          	<h3>Skill Requirements</h3>
                            <ul>
                            <li>Expertise in LAMP and ROR Environment.</li>
                            <li>Setup meetings with leads to promote and win business.</li>
                            <li>Achieve agreed-upon targets of lead qualification and revenue generation every month. <a href="#" class="moredetails-link">More Details</a></li>
                            </ul>
                            
                            <div class="jobpost-btn">
                            	<div class="jobpost-l wautofnone">
                                	<a href="javascript:void(0)" id="" class="btn btn-raised btn-primary btn-red"><span class="btn-ico"><i class="fa fa-trash"></i></span>Delete</a><a href="javascript:void(0)" id="" class="btn btn-raised btn-primary btn-yellow mobile-hide"><span class="btn-ico"><i class="fa fa-square"></i></span>Hold</a><a href="javascript:void(0)" id="" class="btn btn-raised btn-primary btn-blue refferal"><span class="btn-ico"><i class="fa fa-dollar"></i></span>Referral (12)</a>
                                </div>
                                <div class="clr"></div>
                            </div>
                          </div>
                        </div>
                      </div>
						
                        <div class="frd-cnt" style="display: none;">
                        <div class="rlatv"><a href="javascript:;" class="open-refer-frd close-ico close-frnd-list refferal"><i class="fa fa-times-circle"></i></a></div>
                    	<div class="frd-lst">
                    		<ul>
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img1.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                            
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img2.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                          	
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img3.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                            
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img4.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                          	
                             </ul>
                            <div class="clr"></div>
                    	</div>
                    </div>
                       </div>
                       
                        <div class="list-group-separator"></div>
                       <div class="jobpost-lst-cnt">
                      <div class="list-group-item">
                        <div class="row-picture">
                          <div class="company-job-info">J</div>
                        </div>
                        <div class="row-content">
                          <h4 class="list-group-item-heading fl"><a href="#">Programmer Analyst - JAVA or JAVA Developer</a></h4>
                          <div class="fr jobpost-time"><i class="fa fa-clock-o"></i> &nbsp;2 hours ago</div>
                    		<div class="clr"></div>
                            <div class="jobpost-detail">
                            	<div class="jobpost-detail-blk"><span>Position :</span> Developer</div>
                                <div class="jobpost-detail-blk txtctr"><span>Experience :</span> 4+ Year</div>
                                <div class="jobpost-detail-blk txtrht"><span>Referral Price :</span> $75</div>
                                <div class="clr"></div>
                            </div>
                          <div class="jobpost-desc">
                          	<h3>Skill Requirements</h3>
                            <ul>
                            <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                            <li>Work on research and development of latest SharePoint tools and technologies.</li>
                            <li>Should have knowledge in architecture and design of SharePoint implementations using best practices. <a href="#" class="moredetails-link">More Details</a></li>
                            </ul>
                            
                            <div class="jobpost-btn">
                            	<div class="jobpost-l wautofnone">
                                	<a href="javascript:void(0)" id="" class="btn btn-raised btn-primary btn-red"><span class="btn-ico"><i class="fa fa-trash"></i></span>Delete</a><a href="javascript:void(0)" id="" class="btn btn-raised btn-primary btn-yellow mobile-hide"><span class="btn-ico"><i class="fa fa-square"></i></span>Hold</a><a href="javascript:void(0)" id="" class="btn btn-raised btn-primary btn-blue refferal"><span class="btn-ico"><i class="fa fa-dollar"></i></span>Referral (12)</a>
                                </div>
                                <div class="clr"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="frd-cnt" style="display: none;">
                        <div class="rlatv"><a href="javascript:;" class="open-refer-frd close-ico close-frnd-list refferal"><i class="fa fa-times-circle"></i></a></div>
                    	<div class="frd-lst">
                    		<ul>
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img1.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                            
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img2.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                          	
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img3.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                            
                            <li>
                            <div class="frd-lst-det">
                            <div class="frd-img"><img src="app/assets/images/frd-img4.png"></div>
                            <div class="frd-det">
                            	<a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                            	<h3>George Thompson</h3>
                                <div class="frd-desc">
                                	<div class="position">JAVA Developer</div>
									<div class="experience">Experience : 4+ Year</div>
                                    <div class="referral">Referral By : <a href="#">Donald Martin</a></div>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="expertise-cnt">
                            	<h3>Expertise</h3>
                                <ul>
                                <li>Design and Develop high scale SharePoint 2010/2013 intranet, internet facing sites.</li>
                                <li>Work on research and development of latest SharePoint tools and technologies.</li>
                                </ul>
                            </div>
                            </div>
                            <div class="frd-lst-action heightauto">
                            	<div class="cmp-action">
                                	<div class="cmp-blk1"><a href="#" class="selected-btn active"><i class="fa fa-check"></i> Selected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="rejected-btn"><i class="fa fa-remove"></i> Rejected</a></div>
                                    <div class="cmp-blk1"><a href="#" class="shortlisted-btn"><i class="fa fa-list-ul"></i> Shortlisted</a></div>
                                    <div class="cmp-blk2 rlatv"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="v-dott"><i class="fa fa-ellipsis-v"></i></span></a>
                                    	<div class="more-menu dropdown-menu">
                                        	<a href="#">Onhold</a>
                                            <a href="#">Content Lorem</a>
                                            <a href="#">Ipsum Lorem</a>
                                            <a href="#">Content Ipsum</a>
                                        </div>
                                    </div>
                                    <div class="download-resume"><a href="#" class="downloadresume-btn"><i class="fa fa-download"></i> Download Resume</a></div></div>
                            </div>
                            </li>
                          	
                             </ul>
                            <div class="clr"></div>
                    	</div>
                    </div>
	
                       </div>
                      
  					 <div class="load-more"><img alt="" src="app/assets/images/load-more.gif"></div>                        
					 </div>                  
                </div>
            </div>
            </div>