<div class="container">
  <div class="home-banner-cnt">
    <div class="row">
      <div class="col-md-4 col-sm-4 pull-right banner-cnt-rt">
        <div class="sign-box">
          <h2>Join Refpod today</h2>

           <form [formGroup]="form" (submit)="login()">
            <div class="sign-form sign-form2">
              <div class="form-group">
                <input type="text" 
                       name="email" 
                       placeholder="Email" 
                       class="form-control"                       
                       [(ngModel)]="email"
                       #emailControl
                       formControlName="email"                    
                       required>
                       <div *ngIf="!form.controls.email.valid 
                                   && form.controls.email.touched
                                   && !form.controls.email.errors?.invalidEmail"
                            class="error">
                         Email is required
                       </div>
                      
                      <div *ngIf="form.controls.email.touched && form.controls.email.errors?.invalidEmail"
                            class="error">
                         Invalid email address
                       </div>                       
              </div>
              <div class="form-group">
                <input type="password" 
                       name="password" 
                       placeholder="Password" 
                       class="form-control"
                       [(ngModel)]="password"
                       formControlName="password"
                       required>
                <div *ngIf="!form.controls.password.valid 
                            && form.controls.password.touched                             
                            && !form.controls.password.errors?.passwordNotStrong"
                      class="error">
                  Password is required
                </div>

                <div *ngIf="form.controls.password.touched && form.controls.password.errors?.passwordNotStrong"
                      class="error">
                  Password is weak
                </div>       
              </div>
              <div class="form-group">
                <input type="password" 
                       name="password2" 
                       placeholder="Re-enter password" 
                       class="form-control"
                       [(ngModel)]="password2"
                       formControlName="password2"
                       required>
                <div *ngIf="form.controls.password2.touched && form.errors?.mismatch"
                      class="error">
                  Password doesn't match
                </div>       
              </div>
              <div class="form-group forgot-btn"> 
                <a href="#">Forgot Password?</a>
                <div class="clearfix">                  
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-raised sign-btn" [disabled]="!form.valid">Sign Up</button>
              </div>
            </div>
          </form>

          <div class="signup-block signup-block2">
            <div class="or-block">
              <span>Or</span>
            </div>
            <a class="btn btn-raised signup-btn" routerLink="">Sign In</a> 
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-8 banner-cnt-lt">
        <h1>Ready to Reach Higher in Business / Job?</h1>
        <p>It is a long established fact that a reader will be distracted by<br>
        the readable content of a page when looking at its layout.</p>
      </div>
    </div>
  </div>
</div>