<div class="col-md-8 col-sm-8 user-rt">
            	<div class="midcol">
                	<h2 class="pg-hd fl">My Profile</h2>
                    <div class="userpg-drop post-job fr">
                    	 <a href="#" class="sprites import-btn"></a>
                    </div>
                    <div class="clr"></div>
                    <div class="page-separator"></div>	
                    
                    <div class="user-profile-cnt profile-filled">
                    	<div class="user-profile-l"><img alt="" src="app/assets/images/user-profile-img.png"> <div class="pic-edit"> <a href="#" class="pic-edit-bg"><span><i class="fa fa-camera"></i></span></a> </div></div>
                        <div class="user-profile-r">
                        	<h1 class="page-hd profile-lst"><label class="smallfont">Profile Name</label><a href="#" id="fullname" data-pk="1" data-type="text">Daniel Jackson</a></h1>
                            <div class="profile-lst"><label class="smallfont">Designation</label><a href="#" id="designation" data-pk="1" data-type="text">Programmer Analyst - JAVA</a></div>
                            <div class="profile-lst"><label class="smallfont">Location</label><a href="#" id="location" data-pk="1" data-type="text">Add Location</a></div>
                            <div class="profile-lst"><label class="smallfont">Service</label><a href="#" id="service" data-pk="1" data-type="text">Information Technology and Services </a></div>
                            <div class="profile-lst nodata"><label class="smallfont">Experience</label><a id="addexp" href="javascript:;">Add Experience</a></div>
                            <div class="profile-lst nodata"><label class="smallfont">Education</label><a id="addedu" href="javascript:;">Add Education</a></div>
                        </div>
                        <div class="clr"></div> <br>
                        
                        <div class="user-profile-container">
                        	<h3 class="page-hd">Contact Info</h3>
                            <div class="profile-lst nopad">
                            <div class="profile-half"><a href="javascript:void(0)" class="btn btn-raised btn-primary btn-cmn-sml fr">Verify</a><label class="smallfont">Offical Email ID</label> daniel@refpod.com <div class="clr"></div></div>
                            <div class="profile-half fr PR20"><label class="smallfont">Email ID</label><a href="#" id="email" data-pk="1" data-type="text">daniel.jackson@demo.com</a></div>
                            <div class="clr"></div>
                            </div>
                            <div class="profile-lst nopad">
                            <div class="profile-half"><label class="smallfont">Phone</label><a href="#" id="phone" data-pk="1" data-type="text">0987654321</a></div>
                            <div class="profile-half fr"><label class="smallfont">IM</label><a href="#" id="im" data-pk="1" data-type="text">IM</a></div>
                            <div class="clr"></div>
                            </div>
                            <div class="profile-lst"><label class="smallfont">Country</label><a href="#" id="country" data-pk="1" data-type="text">San Francisco, California</a></div>
                            <div class="profile-lst"><label class="smallfont">Twitter</label><a href="#" id="tw" data-pk="1" data-type="text">Twitter</a></div>
                            <div class="profile-lst"><label class="smallfont">Facebook</label><a href="#" id="fb" data-pk="1" data-type="text">Facebook</a></div>
                            <div class="profile-lst"><label class="smallfont">Website</label><a href="#" id="wb" data-pk="1" data-type="text">www.refpod.com</a></div>
                        </div>
                        <div class="user-profile-container">
                        	<h3 class="page-hd"><a href="javascript:void(0);" class="open-skills-form hd-link">+ Add Skill</a>Skills &amp; Endorsements</h3>
                        	<div class="skill-lst-tag" id="skills-div-form" style="display:none;">
                            	<strong>Please add your more skills here</strong>
                                <div class="skill-tag-area">
                                	<select class="js-example-basic-multiple js-states form-control" multiple="multiple"></select>
                                    <select class="js-source-states">
                                      <option value="">Designs</option>
                                      <option value="">JavaScript</option>
                                      <option value="">Adobe Creative Suite</option>
                                      <option value="">CSS</option>
                                      <option value="">Problem Solving</option>
                                      <option value="">jQuery</option>
                                      <option value="">HTML</option>
                                      <option value="">Asking Questions</option>
                                      <option value="">User Interface Design</option>
                                      <option value="">Mentoring</option>
                                      <option value="">Designs</option>
                                      <option value="">JavaScript</option>
                                      <option value="">Adobe Creative Suite</option>
                                      <option value="">CSS</option>
                                      <option value="">Problem Solving</option>
                                      <option value="">jQuery</option>
                                      <option value="">HTML</option>
                                      <option value="">Asking Questions</option>
                                      <option value="">User Interface Design</option>
                                      <option value="">Mentoring</option>
                                    </select>
                                </div>
                                <div class="form-btn"><a href="javascript:void(0)" class="btn btn-raised btn-primary btn-cmn-blue">Submit</a> <a href="javascript:void(0)" class="open-skills-form btn btn-raised btn-primary btn-cmn-gry">Cancel</a></div>
                            </div>
                                
                            <div class="skill-lst">
                            	<a href="javascript:void(0)" class="btn btn-raised btn-default">Designs <span class="del-ico rm-skill">&times;</span></a>
                                <a href="javascript:void(0)" class="btn btn-raised btn-default">JavaScript <span class="del-ico rm-skill">&times;</span></a>
                                <a href="javascript:void(0)" class="btn btn-raised btn-default">Adobe Creative Suite <span class="del-ico rm-skill">&times;</span></a>
                                <a href="javascript:void(0)" class="btn btn-raised btn-default">CSS <span class="del-ico rm-skill">&times;</span></a>
                                <a href="javascript:void(0)" class="btn btn-raised btn-default">Problem Solving <span class="del-ico rm-skill">&times;</span></a>
                                <a href="javascript:void(0)" class="btn btn-raised btn-default">jQuery <span class="del-ico rm-skill">&times;</span></a>
                                <a href="javascript:void(0)" class="btn btn-raised btn-default">HTML <span class="del-ico rm-skill">&times;</span></a>
                                <a href="javascript:void(0)" class="btn btn-raised btn-default">Asking Questions <span class="del-ico rm-skill">&times;</span></a>
                                <a href="javascript:void(0)" class="btn btn-raised btn-default">User Interface Design <span class="del-ico rm-skill">&times;</span></a>
                                <a href="javascript:void(0)" class="btn btn-raised btn-default">Mentoring <span class="del-ico rm-skill">&times;</span></a>
                            </div>
                        </div>
                        
                        
                        <div class="user-profile-container">
                        	<div class="user-profile-box">
                            	<h3 class="page-hd PD20 nomrgn">Upload Resume</h3>
                                <div class="user-profile-box-gry">
                                	<div class="form-group">
                                      <label for="inputEmail" class="control-label">Please upload your resume below (.pdf, .doc)</label>
                                      <div class="fm-ctrl">
                                         <input readonly class="form-control" placeholder="Browse..." type="text">
        <input id="inputFile" multiple type="file">
                                      </div>
                                    </div>
                                   <div class="form-btn"><a href="javascript:void(0)" class="btn btn-raised btn-primary btn-cmn-blue">Upload</a> <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-cmn-gry">Cancel</a></div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div id="expdet" class="user-profile-container">
                        	<div class="user-profile-box">
                            	<h3 class="page-hd PD20 nomrgn"><a href="#" class="hd-link">+ Add Position</a>Experience</h3>
                                <div class="user-profile-box-gry">
                                	<div class="form-group">
                                      <label for="inputEmail" class="control-label">Company Name</label>
                                      <div class="fm-ctrl">
                                        <input class="form-control" type="text">
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail" class="control-label">Title</label>
                                      <div class="fm-ctrl">
                                        <input class="form-control" type="text">
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail" class="control-label">Location</label>
                                      <div class="fm-ctrl">
                                        <input class="form-control" type="text">
                                      </div>
                                    </div>
                                    
                                    <div class="multiple-label"> 
                                      	<label for="inputEmail" class="control-label">Time Period</label>
                                      <div class="fm-ctrl">
                                       	<div class="time-block1 form-group">
                                        <div id="dropdown-menu">
                         	<select name="">
                         	  <option>Choose...</option>
                         	  <option>Lorem Ipsum</option>
                         	  </select>
                         </div>
                         				<div class="year"><input placeholder="Year" class="form-control" type="text"></div>
                         				</div>
                                        <div class="time-block2">-</div>
                                        <div class="time-block1 form-group">
                                         <div id="dropdown-menu">
                         	<select name="">
                         	  <option>Choose...</option>
                         	  <option>Lorem Ipsum</option>
                         	  </select>
                         </div>
                         				<div class="year"><input placeholder="Year" class="form-control" type="text"></div>
                                        </div>
                                        <div class="time-block3">
                                        <div class="checkbox">
                                              <label>
                                                <input type="checkbox"> I currently work here
                                              </label>
								          </div></div>
                                        <div class="clr"></div>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail" class="control-label">Description</label>
                                      <div class="fm-ctrl">
                                       <textarea class="form-control" rows="3" id="textArea" style="height:100px;"></textarea>
                                      </div>
                                    </div>
                                    
                                    <div class="form-btn"><a href="javascript:void(0)" class="btn btn-raised btn-primary btn-cmn-blue">Save</a> <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-cmn-gry">Cancel</a></div>
                                    
                                </div>
                            </div>
                        </div>	
                        
                        <div id="edudet" class="user-profile-container">
                        	<div class="user-profile-box">
                            	<h3 class="page-hd PD20 nomrgn"><a href="#" class="hd-link">+ Add Education</a>Education</h3>
                                <div class="user-profile-box-gry">
                                	<div class="form-group">
                                      <label for="inputEmail" class="control-label">Title</label>
                                      <div class="fm-ctrl">
                                        <input class="form-control" type="text">
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail" class="control-label">Dates Attended</label>
                                     <div class="fm-ctrl date-attended">
                                       	<div class="time-block1 form-group">
                                        <div id="dropdown-menu">
                         	<select name="">
                         	  <option>Choose...</option>
                         	  <option>Lorem Ipsum</option>
                         	  </select>
                         </div></div>
                                        <div class="time-block2">-</div>
                                        <div class="time-block1 form-group">
                                         <div id="dropdown-menu">
                         	<select name="">
                         	  <option>Choose...</option>
                         	  <option>Lorem Ipsum</option>
                         	  </select>
                         </div>
                         				
                                        </div>
                                        
                                        <div class="clr"></div>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail" class="control-label">Degree</label>
                                      <div class="fm-ctrl">
                                        <input class="form-control" type="text">
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail" class="control-label">Field of Study</label>
                                      <div class="fm-ctrl">
                                        <input class="form-control" type="text">
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail" class="control-label">Grade</label>
                                      <div class="fm-ctrl">
                                        <input class="form-control" type="text">
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail" class="control-label">Activities and Societies</label>
                                      <div class="fm-ctrl">
                                       <textarea class="form-control" rows="3" id="textArea" style="height:100px;"></textarea>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail" class="control-label">Description</label>
                                      <div class="fm-ctrl">
                                       <textarea class="form-control" rows="3" id="textArea" style="height:100px;"></textarea>
                                      </div>
                                    </div>
                                    
                                    <div class="form-btn"><a href="javascript:void(0)" class="btn btn-raised btn-primary btn-cmn-blue">Save</a> <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-cmn-gry">Cancel</a></div>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>	
                        
                    </div>
                </div>
            </div>