<div class="featu-emplo" data-scroll-index='1'>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 h1title MB20">Value Benefit<br>
        <em></em></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        	<div class="value-benefit">
            	<p class="bigfont">Suspendisse et neque eu felis molestie sagittis eget bibendum turpis. Duis accumsan non justo eu mollis. Curabitur sed elit fringilla, pharetra quam non, lacinia metus.</p>
                
                <div class="value-benefit-cnt">
                	<div class="value-benefit-1">
                    	<span class="sprites valuebenefit-ico1"></span>
                      	<div class="valuebenefit-desc">
                        	<h4>Online Interview</h4>
                            Mauris non risus eget libero mollis volutpat nec a dui. Aenean in ligula quis leo lobortis euismod ut id libero.	
                        </div>
                    </div>
                    <div class="value-benefit-2">
                    	<span class="sprites valuebenefit-ico2"></span>
                      	<div class="valuebenefit-desc">
                        	<h4>Easy for Comparison</h4>
                            Nunc laoreet efficitur arcu, in luctus odio blandit eu. Sed viverra lobortis imperdiet.	
                        </div>
                    </div>
                    <div class="value-benefit-3">
                    <span class="sprites valuebenefit-ico3"></span>
                      	<div class="valuebenefit-desc">
                        	<h4>Find Prospective Candidates</h4>
                            Pellentesque commodo euismod mi, non accumsan nisl accumsan et. Mauris molestie sapien mauris.	
                        </div>
                    </div>
                    <div class="value-benefit-4">
                    	<span class="sprites valuebenefit-ico4"></span>
                      	<div class="valuebenefit-desc">
                        	<h4>Immediate Recruitment</h4>
                            Cras fermentum, felis ac sagittis sollicitudin, lorem nunc lobortis enim, nec mollis magna felis vitae justo. 
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>