<h2 class="pg-hd">
    <span class="fr">
        <a href="#" class="viewall-link">View All</a>
    </span>
    Job Listing 
    <div class="clr"></div>
</h2>
<div class="lft-bx">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row-picture">
            <div class="listing-round">J</div>
            </div>
            <div class="row-content">
            <p class="list-group-item-text"><a href="#">Programmer Analyst - JAVA or JAVA Developer</a></p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
            <div class="listing-round">S</div>
            </div>
            <div class="row-content">
            <p class="list-group-item-text"><a href="#">Senior Programmer Analyst</a></p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
            <div class="listing-round">S</div>
            </div>
            <div class="row-content">
            <p class="list-group-item-text"><a href="#">Sales Co Ordinator</a></p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
            <div class="listing-round">D</div>
            </div>
            <div class="row-content">
            <p class="list-group-item-text"><a href="#">Duis quis odio efficitur, sagittis lectus a, eleifend nulla.</a></p>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
            <div class="listing-round">P</div>
            </div>
            <div class="row-content">
            <p class="list-group-item-text"><a href="#">Programmer Analyst – JAVA or JAVA Developer</a></p>
            </div>
        </div>
    </div>
</div>
