<header id="hd" class="inner-header">
    	<div class="container">
           	<div class="row">
            <div class="col-md-12">
                <div class="navbar navbar-default">
                 <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" [routerLink]="['/employerhome']"><img src="app/assets/images/logo.png"></a>
            </div>
           		 <div class="navbar-collapse collapse navbar-responsive-collapse fr">
              <form class="navbar-form navbar-left">
                <div class="form-group hd-srch">
                  <input class="form-control col-md-8" placeholder="Search" type="text">
                  <a href="#" class="srch-ico"><span><i class="fa fa-search"></i></span></a>
                </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown notification">
                  <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span class="mobile-hide">Notifications</span> <span class="rlatv"><span class="notification-ico"><i aria-hidden="true" class="fa fa-bell-o"></i></span><em class="count">2</em></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li><a href="javascript:void(0)">Another action</a></li>
                    <li><a href="javascript:void(0)">Something else here</a></li>
                    <li><a href="javascript:void(0)">Separated link</a></li>
                  </ul>
                </li>
                <li><a href="javascript:void(0)"  class="dropdown-toggle" data-toggle="dropdown"><span class="mobile-hide">Visteon</span> <img alt="" class="user-img" src="app/assets/images/company-img.png"></a>
                	<ul class="dropdown-menu myaccount-drop">
                    <li><a [routerLink]="['/employerhome/profile']">Profile</a></li>
                    <li><a [routerLink]="['/employer']">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
	      	  </div>
			</div>
            </div>
        </div>
    </header>