<div class="howitworks" data-scroll-index='0'>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 h1title">How It Works<br>
            <em></em></div>
        </div>
        <div class="row howit-box">
            <div class="col-md-3 col-sm-3">
                <div class="howit-icon-bx"><img src="app/assets/images/howit-emp-icon-bx1.png"  alt=""></div>
                <h3>Free Register</h3>
                <p>Nulla eget mauris aliquet, cursus urna a, lobortis enim. </p>
            </div>
            <div class="col-md-3 col-sm-3 secend-howit">
                <h3>Find Experts</h3>
                <p>Praesent sollicitudin augue mollis dolor placerat hendrerit.</p>
                <div class="howit-icon-bx"><img src="app/assets/images/howit-emp-icon-bx2.png"  alt=""></div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="howit-icon-bx"><img src="app/assets/images/howi-empt-icon-bx3.png"  alt=""></div>
                <h3>Low Risk Factors</h3>
                <p>Cras et venenatis magna, sed tincidunt orci. Phasellus aliquam.</p>
            </div>
            <div class="col-md-3 col-sm-3 secend-howit secend-howit-last">
                <h3>Be Strong</h3>
                <p>Sed in congue mi. Sed aliquet, magna consectetur.</p>
                <div class="howit-icon-bx"><img src="app/assets/images/howit-emp-icon-bx4.png"  alt=""></div>
            </div>
        </div>
    </div>
</div>