  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <a class="navbar-brand" href="javascript:void(0)"><img src="app/assets/images/logo.png" alt=""></a>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" data-scroll-nav='0' class="active">How It Works</a></li>
          <li><a href="#" data-scroll-nav='1'>Featured Employers</a></li>
          <li><a href="#" data-scroll-nav='2'>Clients Testimonials</a></li>
          <li><a href="#" data-scroll-nav='3'>Contact Us</a></li>
          <li><a [routerLink]="['../employer']">Employer</a></li>
          
        </ul>
        </div>
      <div class="navbar-header">
      <button type="button" class="navbar-toggle navbar-respo" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      </div>
    </div>
  </nav>