<div class="col-md-8 col-sm-8 user-rt">
    <div class="midcol">
        <h2 class="pg-hd fl">Post a Job</h2>
        <div class="userpg-drop fr">
            <div id="dropdown-menu">
            <select id="postjob-drop">
            <option value="1">Single Post</option>
            <option value="2">Multiple Post</option>
            </select>
            </div>
        </div>
        <div class="clr"></div>
        <div class="page-separator"></div>  

        <div class="postjob-cnt">
            <div class="user-profile-box">
                <div class="user-profile-box-gry postjob-graybox-height">
                    <div class="singlepost">
                        <div class="form-group">
                            <label for="inputEmail" class="control-label">Job Title</label>
                            <div class="fm-ctrl">
                            <input class="form-control" type="text" placeholder="Start typing to get suggestions">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="control-label">Job Description</label>
                            <div class="fm-ctrl">
                            <textarea class="form-control" rows="3" id="textArea" style="height:200px;" placeholder="Describe the responsibilities of this job, required work experience, skills, or education"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="control-label">Location</label>
                            <div class="fm-ctrl">
                            <input class="form-control" type="text" placeholder="Job Location">
                            </div>
                        </div>

                        <div class="multiple-label"> 
                            <div class="postjob-block1">
                                <label for="inputEmail" class="control-label">Experience</label>
                                <div class="fm-ctrl">
                                    <div class="form-group">
                                        <div id="dropdown-menu">
                                            <select name="">
                                            <option>Choose...</option>
                                            <option>Senior Level</option>
                                            <option>Mid-Senior Level</option>
                                            <option>Junior Level</option>
                                            <option>Mid-Junior Level</option>
                                            <option>Trainee</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div>
                            <div class="postjob-block2">
                                <div class="postjob-inner">
                                    <label for="inputEmail" class="control-label">Salary</label>
                                    <div class="fm-ctrl">
                                        <div class="form-group">
                                            <div class="dollor-sign">$</div>
                                            <div id="dropdown-menu" class="salary-drop">
                                                <select name="">
                                                    <option>Salary</option>
                                                    <option>30,000 to 50,000</option>
                                                    <option>60,000 to 1,00,000</option>
                                                    <option>1,10,000 to 1,50,000</option>
                                                    <option>1,60,000 to 2,00,000</option>
                                                    <option>2,10,000 to 2,50,000</option>
                                                    <option>2,60,000 to 3,00,000</option>
                                                    </select>
                                            </div>
                                            <div class="clr"></div>
                                        </div>
                                        <div class="clr"></div>
                                    </div>
                                </div>

                                <div class="postjob-inner-small">
                                    <label for="inputEmail" class="control-label mobile-hide">&nbsp;</label>
                                    <div class="fm-ctrl">
                                        <div class="form-group">
                                            <div id="dropdown-menu">
                                                <select name="">
                                                    <option>Per Year</option>
                                                    <option>Per Month</option>
                                                    <option>Per Bi-Week</option>
                                                    <option>Per Week</option>
                                                    </select>
                                            </div>
                                        </div>
                                        <div class="clr"></div>
                                    </div>
                                </div>

                                <div class="clr"></div>
                            </div>
                            <div class="clr"></div>  	
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="control-label">Skill Set</label>
                            <div class="fm-ctrl">
                                <select class="js-example-basic-multiple js-states form-control" multiple="multiple"></select>
                                <select class="js-source-states">
                                    <option value="">Designs</option>
                                    <option value="">JavaScript</option>
                                    <option value="">Adobe Creative Suite</option>
                                    <option value="">CSS</option>
                                    <option value="">Problem Solving</option>
                                    <option value="">jQuery</option>
                                    <option value="">HTML</option>
                                    <option value="">Asking Questions</option>
                                    <option value="">User Interface Design</option>
                                    <option value="">Mentoring</option>
                                    <option value="">Designs</option>
                                    <option value="">JavaScript</option>
                                    <option value="">Adobe Creative Suite</option>
                                    <option value="">CSS</option>
                                    <option value="">Problem Solving</option>
                                    <option value="">jQuery</option>
                                    <option value="">HTML</option>
                                    <option value="">Asking Questions</option>
                                    <option value="">User Interface Design</option>
                                    <option value="">Mentoring</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-btn">
                            <a href="javascript:void(0)" class="btn btn-raised btn-primary btn-cmn-blue">Submit</a>
                        </div>

                    </div>

                    <div class="multiplepost">
                        <div class="multiplepost-l">
                            <div class="upload-download-cnt">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet bibendum est, vel malesuada augue.</p>
                            <a href="javascript:void(0)" class="btn btn-raised btn-primary download-btn"><i class="fa fa-download"></i> &nbsp;Download Template</a>
                            </div>

                            <div class="upload-download-cnt">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet bibendum est, vel malesuada augue.</p>
                            <a href="javascript:void(0)" class="btn btn-raised btn-primary upload-btn"><i class="fa fa-upload"></i> &nbsp;Upload Template</a>
                            </div>
                        </div>
                        <div class="multiplepost-r">
                            <div class="howitwork">
                                <h3>How It Works</h3>
                                <div class="howitwork-cnt">
                                    <div class="howitwork-img1">
                                        <img src="app/assets/images/howitwork-img1.png">
                                    </div>
                                    <div class="sprites howitwork-divider-hrvr"></div>
                                    <div class="sprites howitwork-img2"></div>
                                    <div class="howitwork-txt">Download Template</div>
                                    <div class="sprites howitwork-divider-vr"></div>
                                    <div class="sprites howitwork-img3"></div>
                                    <div class="howitwork-txt">Edit Template</div>
                                    <div class="sprites howitwork-divider-vr"></div>
                                    <div class="sprites howitwork-img2"></div>
                                    <div class="howitwork-txt">Upload Template</div>
                                </div>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>