<div class="col-md-8 col-sm-8 user-rt">
    <div class="midcol">
        <h2 class="pg-hd">Friends</h2>
        <div class="page-separator"></div><br>
        <div class="frd-cnt">
            <div class="frd-cnt-social-btn">
                <ul>
                <li><a href="#" class="btn btn-raised google-btn"><i class="fa fa-envelope"></i>&nbsp; Import from Google</a></li>
                <li class="social-mrgn"><a href="#" class="btn btn-raised facebook-btn"><i class="fa fa-facebook"></i>&nbsp; Import from Facebook</a></li>
                <li><a href="#" class="btn btn-raised linkedin-btn"><i class="fa fa-linkedin"></i>&nbsp;Import from linkedin</a></li>
                </ul>
                <div class="clr"></div>
            </div>
            <div class="frd-lst">
                <ul>
                    <li>
                        <div class="frd-lst-det">
                            <div class="frd-img">
                                <img src="app/assets/images/frd-img1.png">
                                <span class="gplus-ico">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                            <div class="frd-det">
                                <a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                                <h3>George Thompson</h3>
                                <div class="frd-desc">
                                    <div class="position">JAVA Developer</div>
                                    <div class="experience">Experience : 4+ Year</div>
                                </div>
                            </div>
                            <div class="clr"></div>
                        </div>
                        <div class="frd-lst-action frd-lst-full">
                            <a href="javascript:void(0)" class="btn btn-default active select-btn">
                                <i class="fa fa-check"></i> Select</a>
                                <a href="javascript:void(0)" class="btn btn-default cancel-btn" style="display: none;">
                                <i class="fa fa-remove"></i> Cancel</a>
                        </div>
                    </li>
                    <li>
                        <div class="frd-lst-det">
                            <div class="frd-img">
                                <img src="app/assets/images/frd-img2.png">
                                <span class="facebook-ico">
                                    <i class="fa fa-facebook"></i>
                                </span>
                            </div>
                            <div class="frd-det">
                                <a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                                <h3>George Thompson</h3>
                                <div class="frd-desc">
                                    <div class="position">JAVA Developer</div>
                                    <div class="experience">Experience : 4+ Year</div>
                                </div>
                            </div>
                            <div class="clr"></div>
                        </div>
                        <div class="frd-lst-action frd-lst-full">
                            <a href="javascript:void(0)" class="btn btn-default active select-btn">
                            <i class="fa fa-check"></i> Select</a> 
                            <a href="javascript:void(0)" class="btn btn-default cancel-btn" style="display: none;">
                            <i class="fa fa-remove"></i> Cancel</a> 
                        </div>
                    </li>
                    <li>
                        <div class="frd-lst-det">
                            <div class="frd-img">
                                <img src="app/assets/images/frd-img3.png">
                                <span class="linkedin-ico">
                                    <i class="fa fa-linkedin"></i>
                                </span>
                            </div>
                            <div class="frd-det">
                                <a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                                <h3>George Thompson</h3>
                                <div class="frd-desc">
                                    <div class="position">JAVA Developer</div>
                                    <div class="experience">Experience : 4+ Year</div>
                                </div>
                            </div>
                            <div class="clr"></div>
                        </div>
                        <div class="frd-lst-action frd-lst-full">
                            <a href="javascript:void(0)" class="btn btn-default active select-btn">
                            <i class="fa fa-check"></i> Select</a>
                            <a href="javascript:void(0)" class="btn btn-default cancel-btn" style="display: none;">
                                <i class="fa fa-remove"></i> Cancel
                            </a> 
                        </div>
                    </li>
                    <li>
                    <div class="frd-lst-det">
                    <div class="frd-img"><img src="app/assets/images/frd-img4.png"> <span class="gplus-ico"><i class="fa fa-envelope"></i></span></div>
                    <div class="frd-det">
                    <a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                    <h3>George Thompson</h3>
                    <div class="frd-desc">
                    <div class="position">JAVA Developer</div>
                    <div class="experience">Experience : 4+ Year</div>
                    </div>
                    </div>
                    <div class="clr"></div>
                    </div>
                    <div class="frd-lst-action frd-lst-full"><a href="javascript:void(0)" class="btn btn-default active select-btn"><i class="fa fa-check"></i> Select</a> <a href="javascript:void(0)" class="btn btn-default cancel-btn" style="display: none;"><i class="fa fa-remove"></i> Cancel</a> </div>
                    </li>
                    <li>
                    <div class="frd-lst-det">
                    <div class="frd-img"><img src="app/assets/images/frd-img5.png"> <span class="facebook-ico"><i class="fa fa-facebook"></i></span></div>
                    <div class="frd-det">
                    <a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                    <h3>George Thompson</h3>
                    <div class="frd-desc">
                    <div class="position">JAVA Developer</div>
                    <div class="experience">Experience : 4+ Year</div>
                    </div>
                    </div>
                    <div class="clr"></div>
                    </div>
                    <div class="frd-lst-action frd-lst-full"><a href="javascript:void(0)" class="btn btn-default active select-btn"><i class="fa fa-check"></i> Select</a> <a href="javascript:void(0)" class="btn btn-default cancel-btn" style="display: none;"><i class="fa fa-remove"></i> Cancel</a> </div>
                    </li>
                    <li>
                    <div class="frd-lst-det">
                    <div class="frd-img"><img src="app/assets/images/frd-img6.png"> <span class="linkedin-ico"><i class="fa fa-linkedin"></i></span></div>
                    <div class="frd-det">
                    <a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                    <h3>George Thompson</h3>
                    <div class="frd-desc">
                    <div class="position">JAVA Developer</div>
                    <div class="experience">Experience : 4+ Year</div>
                    </div>
                    </div>
                    <div class="clr"></div>
                    </div>
                    <div class="frd-lst-action frd-lst-full"><a href="javascript:void(0)" class="btn btn-default active select-btn"><i class="fa fa-check"></i> Select</a> <a href="javascript:void(0)" class="btn btn-default cancel-btn" style="display: none;"><i class="fa fa-remove"></i> Cancel</a> </div>
                    </li>
                    <li>
                    <div class="frd-lst-det">
                    <div class="frd-img"><img src="app/assets/images/frd-img1.png"> <span class="gplus-ico"><i class="fa fa-envelope"></i></span></div>
                    <div class="frd-det">
                    <a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                    <h3>George Thompson</h3>
                    <div class="frd-desc">
                    <div class="position">JAVA Developer</div>
                    <div class="experience">Experience : 4+ Year</div>
                    </div>
                    </div>
                    <div class="clr"></div>
                    </div>
                    <div class="frd-lst-action frd-lst-full"><a href="javascript:void(0)" class="btn btn-default active select-btn"><i class="fa fa-check"></i> Select</a> <a href="javascript:void(0)" class="btn btn-default cancel-btn" style="display: none;"><i class="fa fa-remove"></i> Cancel</a> </div>
                    </li>
                    <li>
                    <div class="frd-lst-det">
                    <div class="frd-img"><img src="app/assets/images/frd-img2.png"> <span class="facebook-ico"><i class="fa fa-facebook"></i></span></div>
                    <div class="frd-det">
                    <a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                    <h3>George Thompson</h3>
                    <div class="frd-desc">
                    <div class="position">JAVA Developer</div>
                    <div class="experience">Experience : 4+ Year</div>
                    </div>
                    </div>
                    <div class="clr"></div>
                    </div>
                    <div class="frd-lst-action frd-lst-full"><a href="javascript:void(0)" class="btn btn-default active select-btn"><i class="fa fa-check"></i> Select</a> <a href="javascript:void(0)" class="btn btn-default cancel-btn" style="display: none;"><i class="fa fa-remove"></i> Cancel</a> </div>
                    </li>
                    <li>
                    <div class="frd-lst-det">
                    <div class="frd-img"><img src="app/assets/images/frd-img3.png"> <span class="linkedin-ico"><i class="fa fa-linkedin"></i></span></div>
                    <div class="frd-det">
                    <a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                    <h3>George Thompson</h3>
                    <div class="frd-desc">
                    <div class="position">JAVA Developer</div>
                    <div class="experience">Experience : 4+ Year</div>
                    </div>
                    </div>
                    <div class="clr"></div>
                    </div>
                    <div class="frd-lst-action frd-lst-full"><a href="javascript:void(0)" class="btn btn-default active select-btn"><i class="fa fa-check"></i> Select</a> <a href="javascript:void(0)" class="btn btn-default cancel-btn" style="display: none;"><i class="fa fa-remove"></i> Cancel</a> </div>
                    </li>
                    <li>
                    <div class="frd-lst-det">
                    <div class="frd-img"><img src="app/assets/images/frd-img4.png"> <span class="gplus-ico"><i class="fa fa-envelope"></i></span></div>
                    <div class="frd-det">
                    <a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                    <h3>George Thompson</h3>
                    <div class="frd-desc">
                    <div class="position">JAVA Developer</div>
                    <div class="experience">Experience : 4+ Year</div>
                    </div>
                    </div>
                    <div class="clr"></div>
                    </div>
                    <div class="frd-lst-action frd-lst-full"><a href="javascript:void(0)" class="btn btn-default active select-btn"><i class="fa fa-check"></i> Select</a> <a href="javascript:void(0)" class="btn btn-default cancel-btn" style="display: none;"><i class="fa fa-remove"></i> Cancel</a> </div>
                    </li>
                    <li>
                    <div class="frd-lst-det">
                    <div class="frd-img"><img src="app/assets/images/frd-img5.png"> <span class="facebook-ico"><i class="fa fa-facebook"></i></span></div>
                    <div class="frd-det">
                    <a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                    <h3>George Thompson</h3>
                    <div class="frd-desc">
                    <div class="position">JAVA Developer</div>
                    <div class="experience">Experience : 4+ Year</div>
                    </div>
                    </div>
                    <div class="clr"></div>
                    </div>
                    <div class="frd-lst-action frd-lst-full"><a href="javascript:void(0)" class="btn btn-default active select-btn"><i class="fa fa-check"></i> Select</a> <a href="javascript:void(0)" class="btn btn-default cancel-btn" style="display: none;"><i class="fa fa-remove"></i> Cancel</a> </div>
                    </li>
                    <li>
                    <div class="frd-lst-det">
                    <div class="frd-img"><img src="app/assets/images/frd-img6.png"> <span class="linkedin-ico"><i class="fa fa-linkedin"></i></span></div>
                    <div class="frd-det">
                    <a href="#" class="top-remove"><i class="fa fa-remove"></i></a>
                    <h3>George Thompson</h3>
                    <div class="frd-desc">
                    <div class="position">JAVA Developer</div>
                    <div class="experience">Experience : 4+ Year</div>
                    </div>
                    </div>
                    <div class="clr"></div>
                    </div>
                    <div class="frd-lst-action frd-lst-full"><a href="javascript:void(0)" class="btn btn-default active select-btn"><i class="fa fa-check"></i> Select</a> <a href="javascript:void(0)" class="btn btn-default cancel-btn" style="display: none;"><i class="fa fa-remove"></i> Cancel</a> </div>
                    </li>
                </ul>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</div>